@import url('https://fonts.googleapis.com/css?family=Roboto');

.no {
  background-color: #8b2800;
}

.yes {
  background-color: #006705;
}

.maybe {
  background-color: #8b8800;
}

.working {
  background-color: #555;
}

body {
  margin: auto;
}

.container {
  text-align: center;
  margin: 0;
  width: 100%;
}

#emoji {
  width: auto;
  height: auto;
  max-height: 40%;
  max-width: 40%;
  padding-top: 5vw;
}

#text {
   width: 80%;
   margin: auto;
   padding-top: 5vw;
   font-family: 'Roboto', sans-serif;
   font-size: 6vw;
   color: white;
}